services:
  # https://docs.openwebui.com/getting-started/
  open-webui:
    #image: ghcr.io/open-webui/open-webui:main
    image: ghcr.io/open-webui/open-webui:cuda
    container_name: open-webui
    ports:
    - 8080:8080
    environment:
    - WEBUI_AUTH=False
    - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
    - GLOBAL_LOG_LEVEL="DEBUG"
    # add pipelines
    - HTTP_PROXY
    - HTTPS_PROXY
    - NO_PROXY=ollama,${NO_PROXY:-localhost}
    volumes:
    - open-webui:/app/backend/data
    deploy:
     resources:
       reservations:
         devices:
         - driver: nvidia
           capabilities: ["gpu"]
           count: all
    labels:
      - "traefik.enable=true"
      # https://open-webui.dev.localhost
      - "traefik.http.routers.open-webui.rule=Host(`open-webui.${DEVBOX_HOSTNAME}`)"
      - "traefik.http.routers.open-webui.service=open-webui-service@docker"
      - "traefik.http.services.open-webui-service.loadbalancer.server.port=8080"
    restart: unless-stopped

volumes:
  open-webui:
    name: open-webui

networks:
  default:
    name: devbox
    external: true
